<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2 class="writing-prompt"><%= @prompt.writing_prompt %></h2>

    <% @prompt.crowd_stories.each do |crowd_story| %>
    <div class="comments">


    <strong><h3>
      <%=crowd_story.title %>
    </h3></strong>
      <p>
      <%=crowd_story.story %>
    </p>
    </div>
    <% end %>

  <div class="story-form">
    <h3>Add to the Story!</h3>
  <%= simple_form_for [@prompt, @prompt.crowd_stories.build] do |f| %>
  <%=f.input :title %>
  <%=f.input :story %>
  <%=f.submit "Add to Story" %>
  <%end%>
      </div>
      <br>

      <div class="foot">
        <%= link_to "Back to Prompts", prompts_path, class: "back-link"  %>
      </div>

  </body>
</html>
