<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2><%= @prompt.writing_prompt %></h2>

    <% @prompt.crowd_stories.each do |crowd_story| %>

    <div class="comments">
    <strong><h3>
      <%=crowd_story.title %>
    </h3></strong>
      <p>
      <%=crowd_story.story %>
    </p>
    <% end %>
    </div>

  <div>
    <h3>Add to the Story!</h3>
    <%= form_with(model: [@prompt, @prompt.crowd_stories.build], local: true) do |form| %>
    <p>
      <%=form.label :title %><br>
      <%=form.text_field :title %>
    </p>
    <p>
      <%=form.label :story %><br>
      <%=form.text_area :story %>
    </p>
    <p>
      <%=form.submit %>
    </p>
      <% end %>
      </div>
  </body>
</html>
