<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2><%= @prompt.writing_prompt %></h2>

    <% @prompt.crowd_stories.each do |crowd_story| %>

    <div class="comments">
    <strong><h3>
      <%=crowd_story.title %>
    </h3></strong>
      <p>
      <%=crowd_story.story %>
    </p>
    <% end %>

    </div>

  <div>
    <h3>Add to the Story!</h3>
  <%= simple_form_for [@prompt, @prompt.crowd_stories.build] do |f| %>
  <%=f.input :title %>
  <%=f.input :story %>
  <%=f.button :submit %>
  <%end%>
      </div>
      <br>
      <%= link_to "Back to Prompts", prompts_path %>

  </body>
</html>
