<p id="notice"><%= notice %></p>

<h1>Images</h1>

<div class="container">
 <% @images.each do |image| %>
   <%= link_to image_path(image) do %>
   <%= image_tag image.imagedata.thumb.url %>
   <% end %>
 <% end %>

</div>

<br>

<%= link_to 'New Image', new_image_path %>
<br>
<%= link_to "Home", welcome_index_url %>
